*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body{
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 350px;
  padding: 25px;
  background: #ffffffcc;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  text-align: center;
}

.container h2{
  margin-bottom: 20px;
}

input{
  width: 100%;
  padding: 10px;
  border: 2px solid #555;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  outline: none;
}

.strength{
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

#bar{
  height: 100%;
  width: 0%;
  background: red;
  transition: 0.4s;
}

#strengthText{
  font-size: 17px;
  font-weight: 600;
}
